.tabs {
  position: relative;
  height: 2em;
  line-height: 2em;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;

  li.tab {
    display: block;
    float: left;
    text-align: center;
    background-color: #fff;
    padding: 0;
    margin: 0;
    letter-spacing: .8px;
    width: 15%;

    a {
      //color: lighten(color("light-blue", "base"), 18%);
      display: block;
      width: 100%;
      height: 100%;
      //@include transition( color .28s ease);
      //&:hover {
    //    color: color("light-blue", "lighten-4");
      //}
    }
  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: color("light-blue", "lighten-2");
    will-change: left, right;
    width: 100%;
  }
}